<font rwr="1" style="font-family:Arial" size="4"><font rwr="1" style="font-family:Arial" size="4"><font rwr="1" style="font-family:Arial" size="4"><font rwr="1" style="font-family:Arial" size="4"><font rwr="1" style="font-family:Arial" size="4"><font rwr="1" style="font-family:Arial" size="4"><font rwr="1" style="font-family:Arial" size="4"><!-- Bootstrap -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<!-- Banner -->
<div style="background-image: url(http://lovelamps.co/ebay/banner1.jpg); width: 962px; height: 203px; margin: 0 auto 0 auto;"></div>
<!-- Conainer -->
<div style="width:962px;">
<!-- Offers -->
<div style="width:250px;float:right;">
<a href="http://lovelamps.co/ebay/offer1.php" target="_blank"><img src="http://lovelamps.co/ebay/offer1topleft.jpg" border="0"> </a><br>
<a href="http://lovelamps.co/ebay/offer2.php" target="_blank"><img src="http://lovelamps.co/ebay/offer2topleft.jpg" border="0"></a><br>
<a href="http://lovelamps.co/ebay/offer3.php" target="_blank"><img src="http://lovelamps.co/ebay/offer3.jpg" border="0"></a>
</div>
<div style="width:712px;float:left;text-align:center;">
<h1>Beautifully cut out Fairies<br></h1>
<description>
<h3>They are the perfect addition to your crafts.</h3>
<p>Made From 3mm thick MDF.</p>
<h3>Their height is around 130mm from head to toe</h3>
<p>Pack contains the 5 poses featured in the picture</p>
<p>If you require any other shapes or sizes please get in touch we can do anything!</p><p>
</p><p></p>
</description>
<h3>Postage</h3>
<p>Orders received Monday to Friday before 3.00pm will usually be despatched the next day and normally arrive within 3 days.</p>
<p>Items ordered over the weekend will be despatched the following working day.</p>
<p>International orders are sent either Standard Airmail,Signed for Service or by courier.Please see the postage and packaging info below for actual shipment method for the listing.</p>
<p>You will receive and email once your item has been despatched,including your tracking number if applicable</p>
<p>International postal rates will vary so they will be invoiced individually</p>
<p>You can upgrade to recorded delivery for an extra 99p</p>
</div></div></font></font></font></font></font></font></font>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<div class="container">
	<div>
    	<div style="background-image: url(http://lovelamps.co/ebay/banner1.jpg); width: 962px; height: 203px; margin: 0 auto 0 auto;"></div>

    </div>
	<div class="row">
    
		<div class="col-xs-3"></div>
		<div class="col-xs-6"></div>
		<div class="col-xs-3"></div>

	</div><!-- End Row -->
    <div>
        <h3>Postage</h3>
		<p>Orders received Monday to Friday before 9.00pm will usually be despatched the first thing the next day and normally arrive within 3 days.</p>
		<p>Items ordered over the weekend will be despatched the following working day.</p>
		<p>International orders are sent either with the ebay international shipping programme, Standard Airmail, Signed for Service or by courier. Please see the postage and packaging info below for actual shipment method for the listing.</p>
		<p>You will receive and email once your item has been despatched,including your tracking number if applicable</p>
		<p>International postal rates will vary so they will be invoiced individually</p>
		<p>You can upgrade to recorded delivery for an extra 99p</p>
    </div>
</div><!-- End Container -->


