

      <!-- BANNER -->
      <div class="bannercontainer bannerV1">
        <div class="fullscreenbanner-container">
          <div class="fullscreenbanner">
            <ul>
                
              <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700"  data-title="Slide 2">
                <img src="img/home/banner-slider/slider-bg.jpg" alt="slidebg" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                <div class="slider-caption slider-captionV1 container">
                  <div class="tp-caption rs-caption-1 sft start"
                    data-hoffset="0"
                    data-y="0"
                    data-x="[15,15,42,15]"
                    data-speed="800"
                    data-start="1500"
                    data-easing="Back.easeInOut"
                    data-endspeed="300">
                    <img src="img/home/banner-slider/sl2.png" alt="slider-image">
                  </div>

                  <div class="tp-caption rs-caption-2 sft "
                    data-hoffset="0"
                    data-y="100"
                    data-x="600"
                    data-speed="800"
                    data-start="2000"
                    data-easing="Back.easeInOut"
                    data-endspeed="300">
                    Bar Menus
                  </div>

                  <div class="tp-caption rs-caption-3 sft"
                    data-hoffset="0"
                    data-y="175"
                    data-x="600"
                    data-speed="1000"
                    data-start="3000"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="off">
                    Start From - &pound;14.00 each<br>
                    <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis turpis pharetra pretium nec eu sem.</small>
                  </div>

                  <div class="tp-caption rs-caption-4 sft"
                    data-hoffset="0"
                    data-y="310"
                    data-x="600"
                    data-speed="800"
                    data-start="3500"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="off">
                    <span class="page-scroll"><a href="#" class="btn primary-btn">Go To<i class="fa fa-chevron-right"></i></a></span>
                  </div>
                </div>
              </li>
              
              <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700" data-title="Slide 3">
                  <img src="img/home/banner-slider/slider-bg.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                  <div class="slider-caption slider-captionV1 container">
  
                    <div class="tp-caption rs-caption-1 sft start"
                      data-hoffset="0"
                      data-x="450"
                      data-y="54"
                      data-speed="800"
                      data-start="1500"
                      data-easing="Back.easeInOut"
                      data-endspeed="300" >
                      <img src="img/home/banner-slider/shoe1.png" alt="slider-image" style="width: 781px; height: 416px;">
                    </div>
  
                    <div class="tp-caption rs-caption-2 sft"
                      data-hoffset="0"
                      data-y="100"
                      data-x="[15,15,42,15]"
                      data-speed="800"
                      data-start="2000"
                      data-easing="Back.easeInOut"
                      data-endspeed="300">
                      Canvas Sneaker
                    </div>
  
                    <div class="tp-caption rs-caption-3 sft"
                      data-hoffset="0"
                      data-y="175"
                      data-x="[15,15,42,15]"
                      data-speed="1000"
                      data-start="3000"
                      data-easing="Power4.easeOut"
                      data-endspeed="300"
                      data-endeasing="Power1.easeIn"
                      data-captionhidden="off">
                      Start From - $259.00 <br>
                      <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis turpis pharetra pretium nec eu sem.</small>
                    </div>
                    <div class="tp-caption rs-caption-4 sft"
                      data-hoffset="0"
                      data-y="310"
                      data-x="[15,15,42,15]"
                      data-speed="800"
                      data-start="3500"
                      data-easing="Power4.easeOut"
                      data-endspeed="300"
                      data-endeasing="Power1.easeIn"
                      data-captionhidden="off">
                      <span class="page-scroll"><a href="#" class="btn primary-btn">Buy Now<i class="fa fa-chevron-right"></i></a></span>
                    </div>
                  </div>
                </li>
            </ul>
          </div>
        </div>
      </div>