
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix stepsWrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="innerWrapper clearfix stepsPage">
                    <div class="row progress-wizard" style="border-bottom:0;">

                        <div class="col-4 progress-wizard-step active">
                            <div class="text-center progress-wizard-stepnum">Shipping</div>
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="progress-wizard-dot"></a>
                        </div>

                        <div class="col-4 progress-wizard-step disabled">
                            <div class="text-center progress-wizard-stepnum">Payment</div>
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="progress-wizard-dot"></a>
                        </div>

                        <div class="col-4 progress-wizard-step disabled">
                            <div class="text-center progress-wizard-stepnum">Confirmation</div>
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="progress-wizard-dot"></a>
                        </div>
                    </div>

                    <form action="" class="row" method="POST" role="form">
                        <input type="hidden" name="update_order" value="1"/>
                        <div class="col-12">
                            <div class="page-header">
                                <h4>Shipping Address</h4>
                            </div>
                            [[message]]

                        </div>

                        <div class="form-group col-md-6 col-12">
                            <label for="fname">First Name</label>
                            <input type="text" class="form-control" id="fname" name="fname" required>
                        </div>
                        <div class="form-group col-md-6 col-12">
                            <label for="sname">Last Name</label>
                            <input type="text" class="form-control" id="sname" name="sname" required>
                        </div>
                        <div class="form-group col-md-6 col-12">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="form-group col-md-6 col-12">
                            <label for="company">Company</label>
                            <input type="text" class="form-control" id="company" name="company">
                        </div>
                        <div class="form-group col-md-6 col-12">
                            <label for="address1">First Line of Address</label>
                            <input type="text" class="form-control" id="address1" name="address1" required>
                        </div>
                        <div class="form-group col-md-6 col-12">
                            <label for="address2">Second Line of Address</label>
                            <input type="text" class="form-control" id="address2" name="address2">
                        </div>
                        <div class="form-group col-md-6 col-12">
                            <label for="postcode">Post Code</label>
                            <input type="text" class="form-control" id="postcode" name="postcode" required>
                        </div>
                        <div class="form-group col-md-6 col-12">
                            <label for="phone">Phone</label>
                            <input type="text" class="form-control" id="phone" name="phone" required>
                        </div>
                        <div class="form-group col-md-6 col-12">
                            <label for="">Country</label>
                            <div class="form-group row">
                                <div class="quick-drop col-12 selectOptions ">
                                    <select name="country" class="form-control select-drop">
                                        <option>UK</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="col-12">
                            <div class="page-header">
                                <br>

                                <input id="maillist" class="radio" type="checkbox" name="maillist" value="1">
                                <label for="maillist"><span></span>Add your email to our mail list for our offers and new products.</label>

                            </div>
                        </div>

                        <div class="row checkboxArea">

                        </div>
                        <div class="col-12">
                            <div class="well well-lg clearfix">
                                <ul class="pager">
                                    <li class="next "><button class="btn btn-primary btn-default float-right" href="checkout-step-2.html">Continue <i class="fa fa-angle-right"></i></button></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="summery-box">
                    <h4>Order Summery</h4>
                    <p>All UK orders are free shipping please contact for international.</p>
                    <ul class="list-unstyled">
                        <li class="d-flex justify-content-between">
                            <span class="tag">Subtotal</span>
                            <span class="val">&pound;[[subtotal]]</span>
                        </li>                        
                        <li class="d-flex justify-content-between">
                            <span class="tag">Delivery</span>
                            <span class="val">&pound;[[delivery]]</span>
                        </li>
                        <li class="d-flex justify-content-between">
                            <span class="tag">Total</span>
                            <span class="val">GBP  &pound;[[total]] </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>