
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix stepsWrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="innerWrapper clearfix stepsPage">
                    <div class="row progress-wizard" style="border-bottom:0;">
                        <div class="col-4 progress-wizard-step complete fullBar">
                            <div class="text-center progress-wizard-stepnum">Shipping</div>
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="progress-wizard-dot"></a>
                        </div>

                        <div class="col-4 progress-wizard-step active">
                            <div class="text-center progress-wizard-stepnum">Payment</div>
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="progress-wizard-dot"></a>
                        </div>

                        <div class="col-4 progress-wizard-step disabled">
                            <div class="text-center progress-wizard-stepnum">Confirmation</div>
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="progress-wizard-dot"></a>
                        </div>
                    </div>

                    <div class="page-header">
                        <h4>Shipping Information</h4>
                    </div>

                    <div class="row shipping-info">
                        <div class="col-6">
                            <h5>Shipping Address</h5>
                            <address>
                                [[shipping_address]]
                            </address>
                        </div>
                        <div class="col-6">
                            <h5>Shipping Method</h5>
                            <p>
                                MyHermes Tracked <br>
                                Delivered in 3-5 business days.
                            </p>
                        </div>
                    </div>

                    <div class="page-header">
                        <h4>Billing Information</h4>
                    </div>
                    [[message]]
                    <form action="" class="row" method="POST" role="form">
                        <div class=" checkboxArea card-check">
                            <div class="col-sm-12 mb-2">
                                <input id="paypal" type="radio" name="checkbox" value="1" >
                                <label for="paypal"><span></span>Pay with Paypal</label>

                            </div>
                            <div class="col-sm-12 mb-2">
                                <input id="card" type="radio" name="checkbox" value="1" checked="checked">
                                <label for="card"><span></span>Credit Card</label>

                                <div id="card_payment">
                                    <small class="mb-2 d-block">We accept following credit card</small>
                                    <ul class="list-unstyled list-inline">
                                        <li><img src="img/products/card1.jpg" alt=""><!--  --></li>
                                        <li><img src="img/products/card2.jpg" alt=""><!--  --></li>
                                        <li><img src="img/products/card3.jpg" alt=""><!--  --></li>
                                        <li><img src="img/products/card4.jpg" alt=""><!--  --></li>
                                    </ul>
                                    <div class="form-group row my-3 ml-3">
                                        <div class="col-md-6">
                                            <label for="card_name" class="col-form-label">Name on Card</label>
                                            <input class="form-control" type="text" id="card_name" name="card_name" required>
                                        </div>

                                        <div class="col-md-6">
                                            <label for="card_number" class="col-form-label">Card Number</label>
                                            <input class="form-control" type="text" id="card_number" name="card_number" required>
                                        </div>
                                        <div class="col-md-6 col-12 mb-4 mb-md-0">
                                            <label for="">Expiration Date</label>
                                            <span class="step-drop">
                                                <select name="exp_year"  class="select-drop" required>
                                                    <option value="">Year</option>
                                                    <option value="2018">2018</option>
                                                    <option value="2019">2019</option>
                                                    <option value="2020">2020</option>
                                                    <option value="2021">2021</option>
                                                    <option value="2022">2022</option>
                                                    <option value="2023">2023</option>
                                                    <option value="2024">2024</option>
                                                    <option value="2025">2025</option>
                                                    <option value="2026">2026</option>
                                                    <option value="2027">2027</option>
                                                </select>
                                                <!-- </span>
                                                <span class="step-drop"> -->
                                                <select name="exp_month"  class="select-drop" required>
                                                    <option value="">Month</option>
                                                    <option value="1">January</option>
                                                    <option value="2">February</option>
                                                    <option value="3">March</option>
                                                    <option value="4">April</option>
                                                    <option value="5">May</option>
                                                    <option value="6">June</option>
                                                    <option value="7">July</option>
                                                    <option value="8">August</option>
                                                    <option value="9">September</option>
                                                    <option value="10">October</option>
                                                    <option value="11">November</option>
                                                    <option value="12">December</option>
                                                </select>
                                            </span>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="cvc" class="">CVC</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" aria-label="" placeholder="" name="cvc" id="cvc" required>
                                                <input type="hidden" value="1" name="update_order">
                                                <span class="input-group-addon"><i class="fa fa-question-circle"></i></span>
                                            </div>
                                        </div>
                                    </div>

                                    <input id="billing_check" class="radio" type="checkbox" name="billing" value="1" checked="checked">
                                    <label for="billing_check"><span></span>Billing Address Same As Delivery Address</label>
                                    <br>
                                    <div id="billing_form" style="display:none;">
                                        <br><h4>Billing Address</h4><br>
                                        <div class="form-group col-md-6 col-12">
                                            <label for="address1">First Line of Address</label>
                                            <input type="text" class="form-control" id="address1" name="address1">
                                        </div>
                                        <div class="form-group col-md-6 col-12">
                                            <label for="address2">Second Line of Address</label>
                                            <input type="text" class="form-control" id="address2" name="address2">
                                        </div>
                                        <div class="form-group col-md-6 col-12">
                                            <label for="postcode">Post Code</label>
                                            <input type="text" class="form-control" id="postcode" name="postcode">
                                        </div>


                                    </div>
                                    <br>
                                    <div class="col-sm-12">
                                        <div class="well well-lg clearfix">
                                            <ul class="pager">
                                                <li class="next"><button class="btn btn-primary btn-default float-right">Make Payment <i class="fa fa-angle-right"></i></button></li>
                                            </ul>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                        <div id="paypal_box" class="display:none;">
                            [[paypal_form]] 
                        </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="summery-box">
                    <h4>Order Summery</h4>
                    <p>All UK orders are free shipping please contact for international.</p>
                    <ul class="list-unstyled">
                        <li class="d-flex justify-content-between">
                            <span class="tag">Subtotal</span>
                            <span class="val">&pound;[[subtotal]]</span>
                        </li>                        
                        <li class="d-flex justify-content-between">
                            <span class="tag">Delivery</span>
                            <span class="val">&pound;[[delivery]]</span>
                        </li>
                        <li class="d-flex justify-content-between">
                            <span class="tag">Total</span>
                            <span class="val">GBP  &pound;[[total]] </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>