<section class="mainContent clearfix">
    <div class="container">
        <div class="row singleProduct">
            <div class="col-md-12">
                <div class="media flex-wrap">
                    <div class="media-left productSlider">
                        <div id="carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active" data-thumb="0">
                                    <img src="/[[image1]]">
                                </div>
                                <div class="carousel-item" data-thumb="1">
                                    <img src="/[[image2]]">
                                </div>
                                <div class="carousel-item" data-thumb="2">
                                    <img src="/[[image3]]">
                                </div>
                                <div class="carousel-item" data-thumb="3">
                                    <img src="/[[image4]]">
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div id="thumbcarousel" class="carousel slide" data-interval="false">
                                <div class="carousel-inner">
                                    <div data-target="#carousel" data-slide-to="0" class="thumb"><img src="/[[image1]]"></div>
                                    <div data-target="#carousel" data-slide-to="1" class="thumb"><img src="/[[image2]]"></div>
                                    <div data-target="#carousel" data-slide-to="2" class="thumb"><img src="/[[image3]]"></div>
                                    <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="/[[image4]]"></div>
                                </div>
                                <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="media-body">
                        <h2>[[title]]</h2>
                        <h3>&pound;[[price]]</h3>
                        <p>[[description]]</p>

                        <form action='' method='post'>                        
                            <span class="quick-drop resizeWidth">
                                <select name="quantity" id="guiest_id4" class="select-drop">
                                    [[quantity_options]]
                                </select>
                            </span>
                            <input type='hidden' name='add_product_to_cart' value='[[productID]]'>
                       [[in_cart]]

                            <div class="btn-area">
                                <button class="btn btn-primary btn-default" type="submit">Add to cart <i class="fa fa-angle-right" aria-hidden="true"></i></button>
                            </div>
                        </form>



                        <div class="tabArea">
                            <ul class="nav nav-tabs bar-tabs">
                                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#details">details</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#about-art">manufacture</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#sizing">customisable</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#shipping">shipping</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="details" class="tab-pane fade show active">
                                    [[group_description]]
                                </div>
                                <div id="about-art" class="tab-pane fade">
                                    <p>We are a relatively new company as we started in 2016 but we have been making living hinge ring binders for all of that time which is longer than anybody else.</p> 
                                    <p>We have sold thousands of wooden ring binders and are the only company in the world making them in earnest.</p> 
                                    <p>Our designs have been evolving this whole time and we believe we have make these binders both as stylish and robust as they can be.</p>
                                </div>
                                <div id="sizing" class="tab-pane fade">
                                    <p>We are the manufacturer so we can change any design to your bespoke needs. We can change:</p>
                                    <ul class="list-unstyled">
                                        <li>Engraving - your logo or message or image can all be laser engraved into the product.</li>
                                        <li>Material - if you could like a specific wood we maybe able to source it for you.</li>
                                        <li>Size - if you need a specific size we can do this for you.</li>
                                        <li>Colour - we can stain, oil, paint or varnish to your requirement.</li>
                                    </ul>
                                </div>
                                <div id="shipping" class="tab-pane fade">
                                    <p>UK Shipping is free, we use MyHermes which ordinarily takes about 3-5 days</p>
                                    <p>For international shipping please just get in touch. 
                                        We are happy to ship it's just that pricing can vary wildly so let us know what you want and where you want it and we will get you the best price we can.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>