
      <!-- LIGHT SECTION -->
      <section class="lightSection clearfix pageHeader">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="page-title">
                <h2>About Us</h2>
              </div>
            </div>
            <div class="col-md-6">
              <ol class="breadcrumb float-right">
                <li>
                  <a href="index.html">Home</a>
                </li>
                <li class="active">About Us</li>
              </ol>
            </div>
          </div>
        </div>
      </section>

      <!-- MAIN CONTENT SECTION -->
      <section class="mainContent clearfix aboutUsInfo">
        <div class="container">
          <div class="page-header">
            <h3>We make unique items of wood and acrylic in Birmingham, Great Britain.</h3>
          </div>
          <div class="row">
            <div class="col-md-6 order-sm-12">
              <img src="img/workshop.jpg" alt="about-us-img">
            </div>
            <div class="col-md-6 order-sm-1">
              <p class="lead">GBmakers - Birmingham Makers Limited</p>
              <p>We are a small company based in Birmingham in the United Kingdom. We are proud to only sell products that we have made here in Britain. With manufacturing in Britain having diminished massively we think that there is real value in the production of goods which are not mass produced and made by creative people in a workshop rather than the production line.</p>
              <h5>The spirit of making</h5>
              <br>
              <p>We love making things, we love having ideas and converting them to physical objects that have a use. We also really enjoy solving problems with design. If you have a problem that could be solved with a product, or software for that matter, then get in touch. We are happy to design and make anything to solve any problem.</p>
            </div>
          </div>
        </div>
      </section>
