<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix cartListWrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cartListInner">

                    <form action="" method="POST">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Product Name</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Sub Total</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    [[products]]
                                </tbody>
                            </table>
                        </div>
                        <div class="updateArea">
                            <input type="hidden" name="update_cart" value="1">
                            <!--
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="I have a discount coupon" aria-describedby="basic-addon2">
                                <a href="#" class="btn btn-primary-outlined" id="basic-addon2">apply coupon</a>
                            </div>-->
                            <button class="float-right btn btn-secondary-outlined">update cart</button>
                        </div>
                        <div class="row totalAmountArea">
                            <div class="col-sm-4 ml-sm-auto">
                                <ul class="list-unstyled">
                                    <li>Grand Total <span class="grandTotal">&pound;[[grand_total]]</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="checkBtnArea">
                            <a href="checkout" class="btn btn-primary btn-default">checkout<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function remove(del) {
        var form = document.createElement('form');
        form.setAttribute('method', 'post');
        form.setAttribute('action', '');
        form.style.display = 'hidden';
        document.body.appendChild(form)
        var input = document.createElement("input");
        input.setAttribute("type", "hidden");
        input.setAttribute("name", "delete");
        input.setAttribute("value", del);
        form.appendChild(input);
        form.submit();
    }
</script>
