
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix stepsWrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="innerWrapper clearfix stepsPage">
                    <div class="row progress-wizard" style="border-bottom:0;">
                        <div class="col-4 progress-wizard-step complete fullBar">
                            <div class="text-center progress-wizard-stepnum">Shipping</div>
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="progress-wizard-dot"></a>
                        </div>

                        <div class="col-4 progress-wizard-step complete fullBar">
                            <div class="text-center progress-wizard-stepnum">Payment</div>
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="progress-wizard-dot"></a>
                        </div>

                        <div class="col-4 progress-wizard-step complete">
                            <div class="text-center progress-wizard-stepnum">Confirmation</div>
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="progress-wizard-dot"></a>
                        </div>
                    </div>

                    <div class="page-header mb-4">
                        <h4>Order Review</h4>
                    </div>

                    <div class="col-md-12">
                        <div class="row justify-content-center order-confirm">
                            <div class="col-md-8 col-lg-6 text-center">
                                <h2>Thank You For Your Order</h2>
                                <span>You will receive an email of your order details</span>
                                <p class="">
                                    <b>Your Confirmation Number is:</b> <br>[[temp]] <br>
                                    <b>Your order confirmation and receipt will be sent to:</b> <br>[[email]] <br>
                                    <b>Your order will be shipped to:</b> <br>[[shipping_address]] 
                                </p>
                                <a href="index.php" class="btn btn-primary btn-default">Back to shop</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="summery-box">
                    <h4>Order Summery</h4>
                    <p>All UK orders are free shipping please contact for international.</p>
                    <ul class="list-unstyled">
                        <li class="d-flex justify-content-between">
                            <span class="tag">Subtotal</span>
                            <span class="val">&pound;[[subtotal]]</span>
                        </li>                        
                        <li class="d-flex justify-content-between">
                            <span class="tag">Delivery</span>
                            <span class="val">&pound;[[delivery]]</span>
                        </li>
                        <li class="d-flex justify-content-between">
                            <span class="tag">Total</span>
                            <span class="val">GBP  &pound;[[total]] </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>