
<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="page-title">
                    <h2>Contact Us</h2>
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb float-right">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li class="active">Contact Us</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix aboutUsInfo">
    <div class="container">
        <div class="page-header">
            <h3>You can get in touch by email, phone or post.</h3>
        </div>
        <div class="row">
            <div class="col-md-6 order-sm-12">
                <img src="img/ContactUs.jpg" alt="about-us-img">
            </div>
            <div class="col-md-6 order-sm-1">
                <p class="lead"><b>Our Email is:</b></p>
                <p class="lead">enquiries@gbmakers.com</p>
                <p class="lead"><b>Our Phone number is:</b></p>
                <p class="lead">0800 689 1267</p>
                <p class="lead"><b>Our Address is:</b></p>
                <p class="lead">Birmingham Makers Limited<br>
                    Unit D2 Aston Seedbed Centre<br>
                    Aston<br>
                    Birmingham<br>
                    B7 4NT</p>
            </div>            
        </div>
</section>
