

<div class="container" style="">
    
    <form action="" method="POST" class="form-control">
        
        Image 1<br>
        <img src="[[image1]]" width="80px"/>
        <input type="text" value="[[image1]]" name="image1" class="form-control"/><br>
        <input type="hidden" value="1" name="change_pro"/><br>
        
        Image 2<br>
        <img src="[[image2]]" width="80px"/>
        <input type="text" value="[[image2]]" name="image2" class="form-control"/><br>
        
        Image 3<br>
        <img src="[[image3]]" width="80px"/>
        <input type="text" value="[[image3]]" name="image3" class="form-control"/><br>
        
        Image 4<br>
        <img src="[[image4]]" width="80px"/>
        <input type="text" value="[[image4]]" name="image4" class="form-control"/><br>

        Price:<br>
        <input type="text" value="[[price]]" name="price" class="form-control"/><br>
        
        
        Title:<br>
        <textarea type="text" name="title" class="form-control"/>[[title]]</textarea><br>
    
        Description:<br>
        <textarea type="text" name="description" class="form-control"/>[[description]]</textarea><br>

        Group<br>
        <textarea type="text" name="group" class="form-control"/>[[group]]</textarea><br>
    
        Group Description<br>
        <textarea type="text" name="group_description" class="form-control"/>[[group_description]]</textarea><br> 

        Group Long Description<br>
        <textarea type="text" name="group_long_description" class="form-control"/>[[group_long_description]]</textarea><br>  

        Category<br>
        <textarea type="text" name="category" class="form-control"/>[[category]]</textarea><br> 

        Sub Category<br>
        <textarea type="text" name="sub_category" class="form-control"/>[[sub_category]]</textarea><br> 

        <input type="submit" value="save" class="form-control"/>
        
    </form>
    
</div>