<!-- FOOTER -->
<div class="footer clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-12">
                <div class="footerLink"><!--
                    <h5>Ringbinders</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Originals </a></li>
                        <li><a href="#">Branded Menus </a></li>
                        <li><a href="#">Conference </a></li>
                        <li><a href="#">Guest Books </a></li>
                        <li><a href="#">Wedding Books </a></li>
                        <li><a href="#">Baby's First </a></li>
                    </ul>-->
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="footerLink"><!--
                    <h5>Boards</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Original Boards </a></li>
                        <li><a href="#">Clip Boards </a></li>
                        <li><a href="#">Branded Menu Boards </a></li>
                        <li><a href="#">Custom Sizes </a></li>
                    </ul>-->
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="footerLink">
                    <h5>Shopping With Us</h5>
                    <ul class="list-unstyled">
                        <li><a href="/about">About Us </a></li>
                        <li><a href="/contact">Contact US </a></li><!--
                        <li><a href="#">Shipping </a></li>
                        <li><a href="#">Bespoke Work </a></li>
                    </ul>-->
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="footerLink">
                    <h5>Get in Touch</h5>
                    <ul class="list-unstyled">
                        <li><a href="mailto:enquiries@gbmakers.com">enquiries@gbmakers.com</a></li>
                    </ul>
                    <ul class="list-unstyled">
                        <li><a href="tel:08006891267">0800 689 1267</a></li>
                    </ul>
                    <ul class="list-inline">
                        <li><a href="https://twitter.com/gbmakers" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/Woodenringbinders-217230659019016" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="newsletter clearfix">
                    <h4>Newsletter</h4>
                    <h3>Sign up now</h3>
                    <p>Enter your email address and we will let you know about promotions and new products.</p>
                    <div class="input-group">
                        <form action="" method="POST">
                            <input type="email" class="form-control" placeholder="your email address" name="email_newsletter" aria-describedby="basic-addon2" required>
                            <button type="submit" class="input-group-addon" id="basic-addon2">go <i class="fa fa-chevron-right"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- COPY RIGHT -->
<div class="copyRight clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-12">
                <p>&copy; [[year]] Copyright Birmingham Makers Limited.</p>
            </div>
            <div class="col-md-5 col-12">
                <ul class="list-inline">
                    <li><img src="/img/home/footer/card1.png"></li>
                    <li><img src="/img/home/footer/card2.png"></li>
                    <li><img src="/img/home/footer/card3.png"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>

<!-- LOGIN MODAL -->
<div class="modal fade login-modal" id="login" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h3 class="modal-title">log in</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form action="" method="POST" role="form">
                    <div class="form-group">
                        <label for="emailm">Enter Email</label>
                        <input type="email" class="form-control" id="emailm">
                    </div>
                    <div class="form-group">
                        <label for="passwordm">Password</label>
                        <input type="password" class="form-control" id="passwordm">
                    </div>
                    <div class="checkbox">
                        <input id="checkbox-1" class="checkbox-custom form-check-input" name="checkbox-1" type="checkbox" checked>
                        <label for="checkbox-1" class="checkbox-custom-label form-check-label">Remember me</label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">log in</button>
                    <button type="button" class="btn btn-link btn-block">Forgot Password?</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- SIGN UP MODAL -->
<div class="modal fade " id="signup" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">Register</h3>
            </div>
            <div class="modal-body">
                <form action="register.php" method="POST" role="form">
                    <div class="form-group">
                        <label for="remail">Enter Email</label>
                        <input type="hidden" class="form-control" id="register" name="register" value="1">
                        <input type="email" class="form-control" id="remail" name="email">
                    </div>
                    <div class="form-group">
                        <label for="psw1">Password</label>
                        <input type="password" class="form-control" id="rpsw1" name="psw1">
                    </div>
                    <div class="form-group">
                        <label for="psw2">Confirm Password</label>
                        <input type="password" class="form-control" id="rpsw2" name="psw2">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Sign up</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- PORDUCT QUICK VIEW MODAL -->
<div class="modal fade quick-view" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <div class="media flex-wrap">
                    <div class="media-left px-0">
                        <img class="media-object" src="/img/products/quick-view/quick-view-01.jpg" alt="Image">
                    </div>
                    <div class="media-body">
                        <h2></h2>
                        <h3></h3>
                        <p></p>
                        <span class="quick-drop">
                            <select name="guiest_id3" id="guiest_id3" class="select-drop">
                                <option value="0">Size</option>
                                <option value="1">Size 1</option>
                                <option value="2">Size 2</option>
                                <option value="3">Size 3</option>
                            </select>
                        </span>
                        <span class="quick-drop resizeWidth">
                            <select name="guiest_id4" id="guiest_id4" class="select-drop">
                                <option value="0">Qty</option>
                                <option value="1">Qty 1</option>
                                <option value="2">Qty 2</option>
                                <option value="3">Qty 3</option>
                            </select>
                        </span>
                        <div class="btn-area">
                            <a href="#" class="btn btn-primary btn-block">Add to cart <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/plugins/jquery/jquery-migrate-3.0.0.min.js"></script>
<script src="/plugins/jquery-ui/jquery-ui.js"></script>
<script src="/plugins/bootstrap/js/popper.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script src="/plugins/slick/slick.js"></script>
<script src="/plugins/fancybox/jquery.fancybox.min.js"></script>
<script src="/plugins/iziToast/js/iziToast.js"></script>
<script src="/plugins/prismjs/prism.js"></script>
<script src="/plugins/selectbox/jquery.selectbox-0.1.3.min.js"></script>
<script src="/plugins/countdown/jquery.syotimer.js"></script>
<script src="/plugins/velocity/velocity.min.js"></script>
<script src="/js/custom.js"></script>

</body>
</html>