<br>
<form action="" method="GET" >
    <label for="month"><b>Month</b></label> 
    <select name="month" id="month"class="form-control">
        <option value="January.1">January</option>
        <option value="February.2">February</option>
        <option value="March.3">March</option>
        <option value="April.4">April</option>
        <option value="May.5">May</option>
        <option value="June.6">June</option>
        <option value="July.7">July</option>
        <option value="August.8">August</option>
        <option value="September.9">September</option>
        <option value="October.10">October</option>
        <option value="November.11">November</option>
        <option value="December.12">December</option>
    </select> 
    <label for="year"><b>Year</b></label> 
    <select name="year" id="year"class="form-control">
        <option value="2017">2017</option>
        <option value="2018">2018</option>
    </select>
    <br>
    <input type="submit" value="Go"class="form-control btn-primary"/>
</form>