<br><br>
<div class="jumbotron">
  <form action="" method="POST">
      <label for="user" class="user">User Name</label><br>
      <input type="text" name="user" id="user" class="form-control"/><br>
      <input type="hidden" name="form" value="1" />
      <label for="user" class="pass">Password</label><br>
      <input type="password" name="pass" id="pass" class="form-control"/><br>
      <button type="submit" class="btn btn-default">Login</button>
  </form>
  </p>
</div>