<table class="table table-bordered">
<tr>
<th>Material</th>
<th>ID</th>
</tr>
<tr>
<td>4mm birch</td>
<td>2</td>
</tr>
<tr>
<td>6mm birch</td>
<td>1</td>
</tr>
<tr>
<td>9mm birch</td>
<td>4</td>
</tr>
<tr>
<td>12mm birch</td>
<td>3</td>
</tr>
<tr>
<td>3mm MDF</td>
<td>5</td>
</tr>
<tr>
<td>6mm MDF</td>
<td>6</td>
</tr>
<tr>
<td>3mm Ply</td>
<td>7</td>
</tr>
<tr>
<td>6mm Ply</td>
<td>8</td>
</tr>
</table>