<br>  
<form method='POST' action=''>
    <input type='hidden' name='update' value='1' />
    <input type='submit' value='Update Stock Table With All New Parts' class="form-control btn btn-primary"/>
</form>
<br>